@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    /* Mørk baggrund for hele siden */
    body {
        background-color: #1a1a1a; /* Mørk grå */
        color: #ffff; /* Hvid tekst */
    }

    /* Tilpasning af links */
    a {
        color: #ffa500; /* Orange farve til links */
    }

        a:hover {
            color: #B22222; /* Lysere orange ved hover */
        }
</style>

<div class="text-center">
    

    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

